<html>
    <head>
      {% if title %}
      <title>{{ title }} - ShirninBlog</title>
      {% else %}
      <title>Welcome to ShirninBlog</title>
      {% endif %}
    </head>
    <body>
        <div>
          ShirninBlog:
          <a href="{{url_for('index')}}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{url_for('auth.login')}}">Login</a>
          {% else %}
          <a href="{{url_for('auth.logout')}}">Logout</a>
          <a href="{{url_for('user', username = current_user.username)}}">Profile</a>
          <a href="{{url_for('articles.new_article')}}">New Article</a>
          {% endif %}
          <a href="{{url_for('articles.index')}}">Article</a>
          
        </div>
        <hr>
        {% if current_user.is_authenticated %}
        <h3> Hello {{current_user.username}}!!!</h3>
        <hr>
        {% endif %}
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li> {{message}} </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block scripts %}   
          {{ moment.include_jquery() }}
          {{ moment.include_moment() }}
        {% endblock %}    
    </body>
</html>